# Data Science Tools and Ecosystem

## Author
Tom Callis

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Describe commonly used libraries in Data Science.
- Provide examples of arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

- **Addition**: `3 + 4` results in `7`
- **Subtraction**: `10 - 5` results in `5`
- **Multiplication**: `6 * 7` results in `42`
- **Division**: `8 / 2` results in `4`

In [1]:
#This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335